Repository gooditworks/base-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, packagesort

eslint:
  run: npx eslint {staged_files}

packagesort:
  run: npm run style:packagesort; git add package.json

fix: обновлён конфиг jest для ts-jest@29
  jest.config.js
Due: eslint

fix: корректные токены для GHA обновления base
  .github/workflows/base-update.yaml
Due: none

feat: базовый переход на pnpm
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: packagesort

chore: установлены недостающие peer deps
  package.json
  pnpm-lock.yaml
Due: packagesort

chore: обновлен пакет lefthook
  package.json
  pnpm-lock.yaml
Due: packagesort

fix: gha для запуска Jest тестов обновлен и переведен на pnpm
  .github/workflows/test-report.yml
Due: none

chore: npm заменен на pnpm в конфиге git хуков и package.json
  lefthook.yml
  package.json
Due: packagesort

docs: доки 'переведены' на pnpm
  docs/guides.md
Due: none

chore: обновлен конфиг ts-jest
  jest.config.js
  jest.resolver.cjs
Due: eslint

chore: немного изменен заголовок в GHA Jest тестов для понятности
  .github/workflows/test-report.yml
Due: none

chore: вырезан depricated standard-version
  .versionrc
  changelog.md
  docs/guides.md
  package.json
  pnpm-lock.yaml
Due: packagesort

feat: добавлен GHA для release-please
  .github/workflows/release-please.yaml
Due: none

docs: документация по новой системе релизов
  docs/guides.md
Due: none

chore: изменено название changelog файла, который генерирует GHA release-please
  .github/workflows/release-please.yaml
Due: none

chore: удалено правило commitlint, которое заставляло писать коммиты на русском языке
  commitlint.config.js
Due: eslint

fix: пофикшено правило commitlint, теперь можно создавать коммиты типа wip
  .czrc
  commitlint.config.js
Due: eslint

chore: конфиг commitzen обновлен из PR про инструменты
  .czrc
  commitlint.config.js
Due: eslint

feat: добавлен свежий tRPC, роутер и метод для примера и тесты к ним
  jest.config.js
  jest.resolver.cjs
  package-lock.json
  package.json
  src/datasources/trpc.ts
  src/pages/_app.tsx
  src/pages/api/trpc/[trpc].ts
  src/pages/example/greeting.tsx
  src/server/context.ts
  src/server/routers/greeting/index.ts
  src/server/routers/greeting/name.test.ts
  src/server/routers/greeting/name.ts
  src/server/routers/index.ts
  src/server/trpc.ts
Due: eslint, packagesort

refactor: удалены import React
  src/components/Counter/Counter.test.tsx
  src/components/Counter/Counter.tsx
  src/pages/index.tsx
  tsconfig.jest.json
Due: eslint

chore: демонстрация компонента Counter перенесена в /examples
  src/pages/example/counter.tsx
  src/pages/index.tsx
Due: eslint

fix: пофикшены e2e тесты
  tests/poms/counter.ts
  tests/started.test.ts
Due: eslint

wip: неудачный переход на новый роутер Next 13 (tRPC еще не готов)
  next.config.js
  package-lock.json
  package.json
  src/app/error.tsx
  src/app/example/counter/page.tsx
  src/app/example/greeting/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Counter/Counter.tsx
  src/components/ErrorCapturer.tsx
  src/components/Greeting.tsx
  src/datasources/trpc.ts
  src/datasources/trpc.tsx
  src/pages/_app.tsx
  src/pages/_error.jsx
  tsconfig.json
Due: eslint, packagesort

feat: скрипт обновления base, который дополнительно обновляет конфиг renovate
  .github/workflows/base-update.yaml
  docs/guides.md
  package.json
  scripts/update_base.sh
Due: packagesort

fix: правильный root layout для Next 13
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/layout.tsx
  src/datasources/trpc.tsx
Due: eslint, packagesort

feat: добавлен @next/font
  package-lock.json
  package.json
  public/fonts/Roboto-Bold.ttf
  public/fonts/Roboto-BoldItalic.ttf
  public/fonts/Roboto-Italic.ttf
  public/fonts/Roboto-Medium.ttf
  public/fonts/Roboto-MediumItalic.ttf
  public/fonts/Roboto-Regular.ttf
  src/app/layout.tsx
  src/styles/fonts.ts
  src/styles/globals.css
  tailwind.config.js
Due: eslint, packagesort

chore: обновлен Next
  package-lock.json
  package.json
  tsconfig.json
Due: packagesort

feat: добавлены примеры картинок (и статических и внешних)
  next.config.js
  public/gooditworks.png
  src/app/page.tsx
  tsconfig.json
Due: eslint

feat: полноценно интегрирован next-axiom
  src/app/error.tsx
  src/app/example/counter/page.tsx
  src/pages/api/test.ts
  src/pages/api/trpc/[trpc].ts
  src/server/context.ts
  src/server/routers/greeting/name.ts
Due: eslint

feat: добавлен next bundle analyzer и GHA для него
  .github/workflows/next-bundle-analyzer.yaml
  next.config.js
  package-lock.json
  package.json
Due: eslint, packagesort

fix: обновлена нода в GHA Playwright
  .github/workflows/playwright-test.yaml
Due: none

fix: gha переведены на pnpm
  .github/workflows/next-bundle-analyzer.yaml
  .github/workflows/playwright-test.yaml
Due: none

fix: gha bundle-analyzer
  .github/workflows/next-bundle-analyzer.yaml
Due: none

fix: gha Next bundle analyzer
  .github/workflows/next-bundle-analyzer.yaml
  package.json
Due: packagesort

feat: чуть более красивая страница ошибки
  src/app/error.tsx
Due: eslint

fix: пофикшен GHA Next bundle analyzer
  .github/workflows/next-bundle-analyzer.yaml
Due: none

Перенос base в организацию gooditworks
  changelog.md
  readme.md
  scripts/add_base_remote.sh
Due: none

Перенос base в организацию gooditworks
  changelog.md
  docs/testing.md
  readme.md
  scripts/add_base_remote.sh
Due: none

fix: используем bash в GHA проверки обновлений base
  .github/workflows/base-update.yaml
Due: none

chore: update ignored deps in RenovateBot
  renovate.json
Due: none

chore: удален пакет мониторинга
  .env.example
  .npmrc
  docs/env.md
  package.json
  pnpm-lock.yaml
  src/env.ts
  src/index.ts
  src/monitoring.ts
Due: eslint, packagesort

Path conditions:
  eslint: any of: *.{js,ts,tsx}
  packagesort: any of: package.json
